<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PENSAMENTO</title>
    <link rel="shortcut icon" href="/public/img/download.png" type="image/x-icon">
</head>

<body>
    <nav id="navbar">
        <a href="/" id="logo"></a>
        <img src="/public/img/png-clipart-incandescent-light-bulb-brain-computer-icons-idea-light-logo-head.png" alt="">
        <ul>
            <li><a href="/">PENSAMENTO</a></li>
            <li><a href="/login">ENTRAR</a></li>
            <li><a href="/register">REGISTRAR</a></li>
        </ul>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
    <footer>
        <p><span>Toughts</span> &copy; 2024</p>
    </footer>
</body>

</html>